.linkReset {
    color: inherit;
}

.linkReset:hover {
    color: inherit;
    text-decoration: none;
    transform: scale(1.01);
    transition: transform 0.2s ease-in-out;
}

.titleOverride {
    color: var(--ifm-link-color);
}

.paragraphReset {
    text-decoration: none;
}